*{
    font-size:36px;
}

button{
    border: gray 1px solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
}
button:hover{
    box-shadow: inset 1vh 1vh 15vh #ffffff;
    border: black 1px solid;
}

#savearea{
    background-color: green; /* Green */
}

#deletearea{
    background-color:red
}

#fsave{
    height:15vh;
    text-align:center;
}

#fileHandler{
    display:none;
}


.dropzone{
    margin-top:50px;
    margin-left:20px;
    max-width:300px;
    height:200px;
    padding:25px;
    display:flex;
    text-align:center;
    align-items:center;
    justify-content: center;
    color:gray;
    border: 5px dotted rgb(93, 196, 62);
    border-radius:15px;
}


.dropzone--over {
    transition:.5s;
    margin-top:50px;
    margin-left:20px;
    max-width:300px;
    height:200px;
    padding:25px;
    display:flex;
    text-align:center;
    align-items:center;
    justify-content: center;
    color:gray;
    border: 5px dotted rgb(0, 0, 0);
    border-radius:15px;
    background-color:rgb(255, 255, 255);
    widt
}

.dropzone--input{
    display:none;
}